/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
.list {
    &--default {
        display: grid;
        grid-gap: $spacing-unit--large;
        @include mq($from: tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        &.list-related {
            &--1-item,
            &--2-items {
                margin: 0 auto;
            }

            &--1-item {
                @include mq($from: tablet) {
                    grid-template-columns: none;
                }
            }

            &--2-items {
                @include mq($from: tablet) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    &--portfolio {
        display: block;
        @include mq($from: tablet) {
            > li {
                display: flex;
                flex-flow: row wrap;
                &:not(:last-child) {
                    margin-bottom: $spacing-unit;
                }
            }
        }
    }
}